<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <%= link_to dashboard_url, class: 'brand-link' do %>
    <span class="brand-text font-weight-light">DIVE INTO POST</span>
  <% end %>

  <!-- Sidebar -->
  <div class="sidebar">
    <div class="user-panel mt-3 pb-3 mb-3">
      <div class="info">
        <h3 style="color: white;"><%= @working_team.name.truncate(15) %></h3>
      </div>
    </div>

    <div class="user-panel mt-3 pb-3 mb-3">
      <div class="info">
        <a href="#" class="d-block mb-1"><%= I18n.t('views.messages.create_agenda') %></a>
        <%= form_with model: :agenda, scope: :post, url: team_agendas_path(@working_team), local: true do |form| %>
          <div class="input-group input-group-sm">
            <%= text_field_tag :title, '', { class: 'form-control', placeholder: I18n.t('views.messages.input_agenda_title') } %>
            <span class="input-group-append">
              <button type="submit" class="btn btn-info btn-flat"><%= I18n.t('views.button.create') %></button>
            </span>
          </div>
        <% end %>
      </div>
    </div>
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <% @working_team.agendas.each do |agenda| %>
          <li class="nav-item has-treeview menu-open">
            <!-- <i class="fa fa-circle-o nav-icon"></i> -->
            <span class="nav-link">
              <%= link_to agenda_path(agenda), method: :delete, style: "margin-right: 10px;", data: { confirm: 'Are you sure?' } do %>
                <p>
                  <svg color="red" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                  </svg>
                </p>
              <% end %>
              <p>
                <%= agenda.title %>
                <i class="right fa fa-angle-left"></i>
              </p>
            </span>
            <ul class="nav nav-treeview" style="display: block;">
              <% agenda.articles.each do |article| %>
                <li class="nav-item">
                  <%= link_to article_path(article), class: 'nav-link' do %>
                    <p><%= article.title %></p>
                  <% end %>
                </li>
              <% end %>
              <li class="nav-item">
                <%= link_to new_agenda_article_path(agenda), class: 'nav-link' do %>
                  <p>+ <%= I18n.t('views.messages.create_article') %></p>
                <% end %>
              </li>
            </ul>
          </li>
        <% end %>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
